.escaner {
  float: right;
  cursor: pointer;
  padding: 5px;
  background: rgba(201, 201, 201, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lobby-title {
  float: left;
  padding: 5px;
  border-radius: 5px;
}
ion-content {
  --background: rgba(224, 224, 224, 0.507);
}
